#topbar {
  display: flex;
  align-items: center;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  padding: 0 50px;
  width: 100vw;
  height: 120px;
  background: #17181a;
  box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.icon {
  width: 70px;
  height: 75px;
}

.logo {
  display: flex;
  align-items: center;
  width: 110px;
  height: 30px;
}

.page-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 8px;
  padding-left: 20px;
  color: #fff;
  font-family: "wonderboys", "Luckiest Guy";
  font-size: 40px;
  line-height: 1;
  user-select: none;
}

.page-subtitle {
  color: #8da3e3;
}

/******************************************************************************
The Sun and Planets
******************************************************************************/
.sun,
.mercury,
.venus,
.earth,
.mars,
.jupiter {
  position: absolute;
  background-size: cover;
}

.sun {
  background-image: url("./assets/sun.svg");
  height: 70px;
  width: 70px;
  left: calc(50vw - 35px);
  top: calc(50vh - 35px);
}

.mercury {
  background-image: url("./assets/mercury.svg");
  height: 16px;
  width: 16px;
  left: calc(50vw - 8px);
  top: calc(50vh - 8px);
  animation: var(--mercury-orbit) linear infinite mercuryOrbit;
}

.venus {
  background-image: url("./assets/venus.svg");
  height: 40px;
  width: 40px;
  left: calc(50vw - 20px);
  top: calc(50vh - 20px);
  animation: var(--venus-orbit) linear infinite venusOrbit;
}

.earth {
  background-image: url("./assets/earth.svg");
  height: 46px;
  width: 46px;
  left: calc(50vw - 23px);
  top: calc(50vh - 23px);
  animation: var(--earth-orbit) linear infinite earthOrbit;
}

.mars {
  background-image: url("./assets/mars.svg");
  height: 26px;
  width: 26px;
  left: calc(50vw - 13px);
  top: calc(50vh - 13px);
  animation: var(--mars-orbit) linear infinite marsOrbit;
}

.jupiter {
  background-image: url("./assets/jupiter.svg");
  height: 100px;
  width: 100px;
  left: calc(50vw - 50px);
  top: calc(50vh - 50px);
  animation: var(--jupiter-orbit) linear infinite jupiterOrbit;
}

/******************************************************************************
The Orbits
******************************************************************************/
.mercury-orbit,
.venus-orbit,
.earth-orbit,
.mars-orbit,
.jupiter-orbit {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #5b5e66;
}

.mercury-orbit {
  top: calc(50vh - 70px);
  left: calc(50vw - 70px);
  height: 140px;
  width: 140px;
}

.venus-orbit {
  top: calc(50vh - 125px);
  left: calc(50vw - 125px);
  height: 250px;
  width: 250px;
}

.earth-orbit {
  top: calc(50vh - 175px);
  left: calc(50vw - 175px);
  height: 350px;
  width: 350px;
}

.mars-orbit {
  top: calc(50vh - 250px);
  left: calc(50vw - 250px);
  height: 500px;
  width: 500px;
}

.jupiter-orbit {
  top: calc(50vh - 400px);
  left: calc(50vw - 400px);
  height: 800px;
  width: 800px;
}

/******************************************************************************
Keyframe Animations
******************************************************************************/
@keyframes mercuryOrbit {
  from {
    transform: rotate(0deg) translate(70px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(70px) rotate(-360deg);
  }
}

@keyframes venusOrbit {
  from {
    transform: rotate(0deg) translateX(125px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(125px) rotate(-360deg);
  }
}

@keyframes earthOrbit {
  from {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}

@keyframes marsOrbit {
  from {
    transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
}

@keyframes jupiterOrbit {
  from {
    transform: rotate(0deg) translateX(400px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(400px) rotate(-360deg);
  }
}
