* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-color: rgb(21, 21, 21);
  /* background: url("./assets/background.webp"); */
  background: radial-gradient(circle, #4a4e60, #313543, #101113);
  width: 100%;
  min-height: 100vh;
}

.sun {
  background: url("./assets/sun.svg");
  background-size: cover;
  height: 120px;
  width: 120px;
  position: absolute;
  left: calc(50vw - 60px);
  top: calc(50vh - 60px);
}

.mercury {
  background: url("./assets/mercury.svg");
  background-size: cover;
  height: 20px;
  width: 20px;
  position: absolute;
  left: calc(50vw - 10px);
  top: calc(50vh - 10px);
  animation: 6s linear infinite orbitMercury;
}

.venus {
  background: url("./assets/venus.svg");
  background-size: cover;
  height: 40px;
  width: 40px;
  position: absolute;
  left: calc(50vw - 20px);
  top: calc(50vh - 20px);
  animation: 6s linear infinite venusMercury;
}

.mercury-orbit {
  position: absolute;
  top: calc(50vh - 90px);
  left: calc(50vw - 90px);
  height: 180px;
  width: 180px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #bdbdbd;
}

@keyframes orbitMercury {
  from {
    transform: rotate(0deg) translateX(90px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(90px) rotate(-360deg);
  }
}

@keyframes venusMercury {
  from {
    transform: rotate(0deg) translateX(130px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(130px) rotate(-360deg);
  }
}
