/******************************************************************************
Variables
******************************************************************************/
:root {
  --base-time: 60s;
  /* Days it takes around the sun (approx.) */
  --mercury-speed: 88;
  --venus-speed: 224.7;
  --earth-speed: 365.25;
  --mars-speed: 687;

  /* Orbital movement */
  --mercury-orbit: calc(
    var(--base-time) * (var(--mercury-speed) / var(--earth-speed))
  );
  --venus-orbit: calc(
    var(--base-time) * (var(--venus-speed) / var(--earth-speed))
  );
  --earth-orbit: calc(var(--base-time));
  --mars-orbit: calc(
    var(--base-time) * (var(--mars-speed) / var(--earth-speed))
  );
}

/******************************************************************************
Elements
******************************************************************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-size: contain;
  background-color: #0b0c0c;
  background: radial-gradient(circle, #27292e, #1f2023, #0b0c0c);
  width: 100%;
  min-height: 100vh;
}

/******************************************************************************
The Sun and Planets
******************************************************************************/
.sun,
.mercury,
.venus,
.earth,
.mars {
  position: absolute;
  background-size: cover;
}

.sun {
  background-image: url("./assets/sun.svg");
  height: 70px;
  width: 70px;
  left: calc(50vw - 35px);
  top: calc(50vh - 35px);
}

.mercury {
  background-image: url("./assets/mercury.svg");
  height: 16px;
  width: 16px;
  left: calc(50vw - 8px);
  top: calc(50vh - 8px);
  animation: var(--mercury-orbit) linear infinite mercuryOrbit;
}

.venus {
  background-image: url("./assets/venus.svg");
  height: 40px;
  width: 40px;
  left: calc(50vw - 20px);
  top: calc(50vh - 20px);
  animation: var(--venus-orbit) linear infinite venusOrbit;
}

.earth {
  background-image: url("./assets/earth.svg");
  height: 46px;
  width: 46px;
  left: calc(50vw - 23px);
  top: calc(50vh - 23px);
  animation: var(--earth-orbit) linear infinite earthOrbit;
}

.mars {
  background-image: url("./assets/mars.svg");
  height: 26px;
  width: 26px;
  left: calc(50vw - 13px);
  top: calc(50vh - 13px);
  animation: var(--mars-orbit) linear infinite marsOrbit;
}

/******************************************************************************
The Orbits
******************************************************************************/
.mercury-orbit,
.venus-orbit,
.earth-orbit,
.mars-orbit {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #5b5e66;
}

.mercury-orbit {
  top: calc(50vh - 70px);
  left: calc(50vw - 70px);
  height: 140px;
  width: 140px;
}

.venus-orbit {
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  height: 300px;
  width: 300px;
}

.earth-orbit {
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
  height: 400px;
  width: 400px;
}

.mars-orbit {
  top: calc(50vh - 250px);
  left: calc(50vw - 250px);
  height: 500px;
  width: 500px;
}

/******************************************************************************
Keyframe Animations
******************************************************************************/
@keyframes mercuryOrbit {
  from {
    transform: rotate(0deg) translate(70px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(70px) rotate(-360deg);
  }
}

@keyframes venusOrbit {
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@keyframes earthOrbit {
  from {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}

@keyframes marsOrbit {
  from {
    transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(250px) rotate(-360deg);
  }
}
